.footer__contents{
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-left: 20px;
    padding-top: 106px;
    padding-bottom: 40px;
}

.social{
    display: flex;
    padding-left: 27px;
    padding-bottom: 30px;
    grid-gap: 30px;
    color: var(--social-color);
}

.google__play{
    display: flex;
    align-items: center;
    background: var(--google-play-bg);
    border-radius: 25px;
    outline: none;
    border: none;
    width: 236px;
    height: 69px;
    text-align: left;
    justify-content: center;
    grid-gap: 12px;
    font-size: 18px;
}

.text__google{
    color: var(--solid-white);
}

.right__hand{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.logo__footer{
    padding: 20px 20px;
}
.copyright{
    text-align: center;
    background: var(--social-color);
    width: 100%;
    float: left;
    padding-top: 5px;
}
