
:root{
    --solid-white: white;
    --background: #D9D9D9;
    --background-1:  #E7E7E7;
    --box-shadow: #bdbebf;
    --text-color: #05D43F;
    --text-color-1: #32A64B;
    --text-color-2: #9E9E9E;
    --income-background: #A2E9B1;
    --expenses-background: #F3C2C2;
    --saving-background: #EBE5E5;
    --profit-margin: #034612;
    --loss-margin: #E10D27;
    --saving-margin: #383536;
}