#upward__icon{
    color: var(--text-color-1);
}

#downward__icon{
    color: var(--loss-margin);
}

.show__model{
    display: block;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    z-index: 99999;

}

.hide__model{
    display: none;
}

.buttons__content{
    display: flex;
    gap: 20px;

    .btns{
        height: 25px;
        width: 63px;
        border-radius: 7px;
        border: none;
        outline: none;
        font-weight: 700;
        font-size: 15px;
        margin: 10px;
        cursor: pointer;
        
    }
    .event__edit{
        
        color: var(--profit-margin);
        background: var(--income-background);
        font-family: 'Elina';
        
    }

    .event__delete{
        color: var(--loss-margin);
        background: var(--expenses-background);
        font-family: 'Elina';

    }
}
