.body__content{
    display: flex;

    .right__hand{
        flex: 6;

        .widget__container{
            .working__calender{
                padding: 20px;
            }

        }
    
    }
    
    
}


