.body__content{
    display: flex;

    .show__model{
        display: block;
        position: fixed;
        left: 50%;
        top: 5%;
        transform: translate(-50%, 0);
        z-index: 99999;

    }
    
    .hide__model{
        display: none;
    }

    .right__hand{
        flex: 6;
        margin-left: 178px;

        .widget__container{
            .working__calender{
                padding: 20px;
            }

        }
    
    }
    
    
}
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5000;
}

