.total__div{
    border-right: 0.5px solid var(--sidebar-line);
    min-height: 100vh;
    flex: 1;
    font-family: Elina;
    background-color: var(--sidebar-bg);
    position: fixed;
    z-index: 100;

    p{
        margin: 0;
        padding: 0;
    }

    .logo__container{
        background-color: var(--solid-white);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 6px;
        margin: 15px 7px;
        border-radius: 12px;

        .sofhe__logo{
            height: 20px;
            width: auto;
        }
    }
    .home__content{
        margin-top: 42px;
    }
    .home__content, .finance__content, .manage__content, .extra__content{
        margin-left: 12px;

        span{
            font-size: 13px;
            font-weight: 600;
            margin-left: 10px;
        }

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            a:link{
                text-decoration: none;
            }

            .title{
                font-size: 10px;
                font-weight: bold;
                color: #aeadb5;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li{
                padding: 5px;
                cursor: pointer;

                &:hover{
                    background-color: var(--sidebar-content-hover);
                }

                .icon{
                    color: var(--text-color-1);
                }
            }

        }
    }

    .bottom__content{
        display: flex;
        gap: 20px;
        margin: 10px;
        margin-top: 103px;

        .profile__icon{
            width: 30px;
            height: auto;
        }

        .user__details{
            display: flex;
            flex-direction: column;
            

            span:nth-child(1){
                font-size: 13px;
                font-weight: 600;
            }

            span:nth-child(2){
                font-size: 8px;
                font-weight: 600;
            }
        }

        .sign__out{
            cursor: pointer;
            align-self: center;
        }
    }


}

