
.dashboard__contents{
    display: flex;
}

.body__content{
    width: 100%;  
    margin-left: 253px;
}

.body__change{
    width: 100%;  
    margin-left: 52px;
}

.lower__body{
    display: flex;
}




